{% extends 'base.html' %}
{% block title %}2일차 과제 수행 - 김명석 slides{% endblock %}

{% block headscript %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />




    <!-- General and theme style sheets -->
    <link rel="stylesheet" href="reveal.js/css/reveal.css">
    <link rel="stylesheet" href="reveal.js/css/theme/simple.css" id="theme">

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
    if( window.location.search.match( /print-pdf/gi ) ) {
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = 'reveal.js/css/print/pdf.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
    }

    </script>

    <!--[if lt IE 9]>
    <script src="reveal.js/lib/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Loading the mathjax macro -->
    <!-- Load mathjax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
    <!-- MathJax configuration -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
            processEnvironments: true
        },
        // Center justify equations in code and markdown cells. Elsewhere
        // we use CSS to left justify single line equations in code cells.
        displayAlign: 'center',
        "HTML-CSS": {
            styles: {'.MathJax_Display': {"margin": 0}},
            linebreaks: { automatic: true }
        }
    });
    </script>
    <!-- End of mathjax configuration -->

    <!-- Get Font-awesome from cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css">



    <!-- Custom stylesheet, it must be in the same directory as the html file -->
    <link rel="stylesheet" href="custom.css">
    <link rel="stylesheet" href="../../static/css/study.css">
{% endblock %}



{% block body %}
  <div class="reveal">
<div class="slides">
<section><section>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[4]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="c1">#time Checker</span>
<span class="kn">import</span> <span class="nn">time</span>
<span class="n">last_time</span> <span class="o">=</span> <span class="n">time</span><span class="o">.</span><span class="n">time</span><span class="p">()</span>
<span class="nb">print</span><span class="p">(</span><span class="s1">&#39;Frame took </span><span class="si">{}</span><span class="s1"> seconds&#39;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">time</span><span class="o">.</span><span class="n">time</span><span class="p">()</span><span class="o">-</span><span class="n">last_time</span><span class="p">))</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>Frame took 0.0 seconds
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="1.-Exercise105:ReverseOrder">1. Exercise105:ReverseOrder<a class="anchor-link" href="#1.-Exercise105:ReverseOrder">&#182;</a></h2><p>Write a program that reads integers from the user and stores them in a list. Use 0 as a sentinel value to mark the end of the input. Once all of the values have been read your program should display them (except for the 0) inreverse order,with one value appearing on each line.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[2]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="n">num_list</span> <span class="o">=</span> <span class="p">[]</span>

<span class="k">while</span> <span class="kc">True</span> <span class="p">:</span>
    <span class="n">input_line</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>
    <span class="n">input_num</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="n">input_line</span><span class="p">)</span> <span class="k">if</span> <span class="n">input_line</span><span class="o">.</span><span class="n">isnumeric</span><span class="p">()</span> <span class="k">else</span> <span class="kc">None</span>
    <span class="k">if</span> <span class="n">input_num</span> <span class="o">==</span> <span class="kc">None</span><span class="p">:</span>
        <span class="nb">print</span><span class="p">(</span><span class="s2">&quot;You should input number!&quot;</span><span class="p">)</span>
    <span class="k">elif</span> <span class="n">input_num</span> <span class="o">==</span> <span class="mi">0</span><span class="p">:</span>
        <span class="nb">print</span><span class="p">(</span><span class="s2">&quot;Print result&quot;</span><span class="p">)</span>
        <span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="n">num_list</span><span class="p">[::</span><span class="o">-</span><span class="mi">1</span><span class="p">]:</span>
            <span class="nb">print</span><span class="p">(</span><span class="n">i</span><span class="p">)</span>
        <span class="k">break</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="n">num_list</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="n">input_num</span><span class="p">)</span>
        <span class="nb">print</span><span class="p">(</span><span class="n">num_list</span><span class="p">)</span>

</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>1
[1]
2
[1, 2]
3
[1, 2, 3]
4
[1, 2, 3, 4]
5
[1, 2, 3, 4, 5]
6
[1, 2, 3, 4, 5, 6]
0
Print result
6
5
4
3
2
1
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="2.-Exercise107:AvoidingDuplicates">2. Exercise107:AvoidingDuplicates<a class="anchor-link" href="#2.-Exercise107:AvoidingDuplicates">&#182;</a></h2><p>In this exercise, you will create a program that reads words from the user until the user enters a blank line. After the user enters a blank line your program should display each word entered by the user exactly once. The words should be displayed in the same order that they were entered. For example, if the user enters:</p>
<ul>
<li>first </li>
<li>second </li>
<li>first </li>
<li>third </li>
<li>second</li>
</ul>
<p>then your program should display:</p>
<ul>
<li>first </li>
<li>second </li>
<li>third</li>
</ul>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[7]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="c1">#reads words from the user</span>
<span class="c1">#until the user enters a blank line.</span>
<span class="c1">#your program should display each word entered by the user exactly once.</span>
<span class="c1"># The words should be displayed in the same order that they were entered</span>

<span class="n">words_set</span> <span class="o">=</span> <span class="p">[]</span>

<span class="k">while</span> <span class="kc">True</span> <span class="p">:</span>
    <span class="n">input_word</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>
    <span class="k">if</span> <span class="n">input_word</span> <span class="o">==</span> <span class="s1">&#39;&#39;</span><span class="p">:</span>
        <span class="k">for</span> <span class="n">word</span> <span class="ow">in</span> <span class="n">words_set</span><span class="p">:</span>
            <span class="nb">print</span><span class="p">(</span><span class="n">word</span><span class="p">)</span>
        <span class="k">break</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="n">input_word</span> <span class="o">=</span> <span class="n">input_word</span><span class="o">.</span><span class="n">rstrip</span><span class="p">()</span>
        <span class="k">if</span> <span class="n">input_word</span> <span class="ow">not</span> <span class="ow">in</span> <span class="n">words_set</span><span class="p">:</span>
            <span class="n">words_set</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="n">input_word</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>1
2
1
3
2
3
1
4
3
2
5
4
3

1
2
3
4
5
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="3.-Exercise108:-Negatives,-Zeros-and-Positives">3. Exercise108: Negatives, Zeros and Positives<a class="anchor-link" href="#3.-Exercise108:-Negatives,-Zeros-and-Positives">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[8]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="n">neg_val</span> <span class="o">=</span> <span class="p">[]</span>
<span class="n">zero_val</span> <span class="o">=</span> <span class="p">[]</span>
<span class="n">pos_val</span> <span class="o">=</span> <span class="p">[]</span>
<span class="n">all_val</span> <span class="o">=</span> <span class="p">[]</span>
<span class="k">while</span> <span class="kc">True</span> <span class="p">:</span>
    <span class="n">input_line</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>
    <span class="c1">#Break sign</span>
    <span class="k">if</span> <span class="n">input_line</span> <span class="o">==</span> <span class="s1">&#39;&#39;</span> <span class="p">:</span>
        <span class="n">all_val</span><span class="o">.</span><span class="n">extend</span><span class="p">(</span><span class="n">neg_val</span><span class="p">)</span>
        <span class="n">all_val</span><span class="o">.</span><span class="n">extend</span><span class="p">(</span><span class="n">zero_val</span><span class="p">)</span>
        <span class="n">all_val</span><span class="o">.</span><span class="n">extend</span><span class="p">(</span><span class="n">pos_val</span><span class="p">)</span>
        <span class="nb">print</span><span class="p">(</span><span class="n">all_val</span><span class="p">)</span>
        <span class="k">break</span>

    <span class="c1">#Ccnvert string number to intager</span>
    <span class="k">if</span> <span class="n">input_line</span><span class="o">.</span><span class="n">isnumeric</span><span class="p">():</span>
        <span class="n">input_num</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="n">input_line</span><span class="p">)</span>
    <span class="k">elif</span> <span class="n">input_line</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="o">==</span> <span class="s1">&#39;-&#39;</span> <span class="ow">and</span> <span class="n">input_line</span><span class="p">[</span><span class="mi">1</span><span class="p">:]</span><span class="o">.</span><span class="n">isnumeric</span><span class="p">()</span> <span class="p">:</span>
        <span class="n">input_num</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="n">input_line</span><span class="p">)</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="n">input_num</span> <span class="o">=</span> <span class="kc">None</span>

    <span class="c1">#Sort out numbers among positive, negative, zeros </span>
    <span class="k">if</span> <span class="n">input_num</span> <span class="o">==</span> <span class="kc">None</span><span class="p">:</span>
        <span class="nb">print</span><span class="p">(</span><span class="s2">&quot;You should input number!&quot;</span><span class="p">)</span>
    <span class="k">elif</span> <span class="n">input_num</span> <span class="o">&lt;</span><span class="mi">0</span> <span class="p">:</span>
        <span class="n">neg_val</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="n">input_num</span><span class="p">)</span>
    <span class="k">elif</span> <span class="n">input_num</span> <span class="o">==</span> <span class="mi">0</span> <span class="p">:</span>
        <span class="n">zero_val</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="n">input_num</span><span class="p">)</span>
    <span class="k">else</span> <span class="p">:</span>
        <span class="n">pos_val</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="n">input_num</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>4
-4
5
2
0
0
00
0
12
-99

[-4, -99, 0, 0, 0, 0, 4, 5, 2, 12]
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="4.-Exercise110:-Perfect-Numbers">4. Exercise110: Perfect Numbers<a class="anchor-link" href="#4.-Exercise110:-Perfect-Numbers">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[11]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="kn">import</span> <span class="nn">time</span>
<span class="c1"># last_time = time.time()</span>
<span class="c1"># print(&#39;Frame took {} seconds&#39;.format(time.time()-last_time))</span>
<span class="k">def</span> <span class="nf">isPerfectNumber1</span><span class="p">(</span><span class="n">num</span><span class="p">):</span>
    <span class="n">div_num</span> <span class="o">=</span> <span class="p">[]</span>
    <span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span><span class="n">num</span><span class="p">):</span>
        <span class="k">if</span> <span class="n">num</span><span class="o">%</span><span class="k">i</span> == 0:
            <span class="n">div_num</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="n">i</span><span class="p">)</span>
    <span class="k">if</span> <span class="nb">sum</span><span class="p">(</span><span class="n">div_num</span><span class="p">)</span> <span class="o">==</span> <span class="n">num</span><span class="p">:</span>
        <span class="k">return</span> <span class="kc">True</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="k">return</span> <span class="kc">False</span>

<span class="n">last_time</span> <span class="o">=</span> <span class="n">time</span><span class="o">.</span><span class="n">time</span><span class="p">()</span>
<span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span><span class="mi">10001</span><span class="p">):</span>
    <span class="k">if</span> <span class="n">isPerfectNumber1</span><span class="p">(</span><span class="n">i</span><span class="p">):</span>
        <span class="nb">print</span><span class="p">(</span><span class="n">i</span><span class="p">,</span> <span class="s1">&#39;is Perfect Number&#39;</span><span class="p">)</span>
<span class="nb">print</span><span class="p">(</span><span class="s1">&#39;Frame took </span><span class="si">{}</span><span class="s1"> seconds&#39;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">time</span><span class="o">.</span><span class="n">time</span><span class="p">()</span><span class="o">-</span><span class="n">last_time</span><span class="p">))</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>6 is Perfect Number
28 is Perfect Number
496 is Perfect Number
8128 is Perfect Number
Frame took 3.310103178024292 seconds
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[&nbsp;]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="5.-Exercise113:-Formatting-a-List">5. Exercise113: Formatting a List<a class="anchor-link" href="#5.-Exercise113:-Formatting-a-List">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[12]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="kn">import</span> <span class="nn">time</span>
<span class="c1"># last_time = time.time()</span>
<span class="c1"># print(&#39;Frame took {} seconds&#39;.format(time.time()-last_time))</span>
<span class="k">def</span> <span class="nf">formattingList</span><span class="p">(</span><span class="n">arg_list</span><span class="p">):</span>

    <span class="k">if</span> <span class="nb">len</span><span class="p">(</span><span class="n">arg_list</span><span class="p">)</span> <span class="o">==</span> <span class="mi">0</span> <span class="p">:</span>
        <span class="n">items</span> <span class="o">=</span><span class="s1">&#39;&#39;</span>
    <span class="k">elif</span> <span class="nb">len</span><span class="p">(</span><span class="n">arg_list</span><span class="p">)</span> <span class="o">==</span> <span class="mi">1</span> <span class="p">:</span>
        <span class="n">items</span> <span class="o">=</span> <span class="n">arg_list</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span>
    <span class="k">elif</span> <span class="nb">len</span><span class="p">(</span><span class="n">arg_list</span><span class="p">)</span> <span class="o">==</span> <span class="mi">2</span> <span class="p">:</span>
        <span class="n">items</span> <span class="o">=</span> <span class="n">arg_list</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="o">+</span> <span class="s1">&#39; and &#39;</span> <span class="o">+</span><span class="n">arg_list</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="n">items</span><span class="o">=</span><span class="n">arg_list</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span>
        <span class="k">for</span> <span class="n">arg</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span><span class="nb">len</span><span class="p">(</span><span class="n">arg_list</span><span class="p">)</span><span class="o">-</span><span class="mi">1</span><span class="p">):</span>
            <span class="n">items</span> <span class="o">=</span> <span class="n">items</span> <span class="o">+</span><span class="s1">&#39;, &#39;</span><span class="o">+</span><span class="n">arg_list</span><span class="p">[</span><span class="n">arg</span><span class="p">]</span>
        <span class="k">else</span><span class="p">:</span>
            <span class="n">items</span> <span class="o">=</span> <span class="n">items</span> <span class="o">+</span> <span class="s1">&#39; and &#39;</span><span class="o">+</span><span class="n">arg_list</span><span class="p">[</span><span class="n">arg</span><span class="o">+</span><span class="mi">1</span><span class="p">]</span>
    <span class="k">return</span> <span class="n">items</span>

<span class="n">words_set</span> <span class="o">=</span> <span class="p">[]</span>

<span class="k">while</span> <span class="kc">True</span> <span class="p">:</span>
    <span class="n">input_word</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>
    <span class="k">if</span> <span class="n">input_word</span> <span class="o">==</span> <span class="s1">&#39;&#39;</span><span class="p">:</span>
        <span class="n">last_time</span> <span class="o">=</span> <span class="n">time</span><span class="o">.</span><span class="n">time</span><span class="p">()</span>
        <span class="nb">print</span><span class="p">(</span><span class="n">formattingList</span><span class="p">(</span><span class="n">words_set</span><span class="p">))</span>
        <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;Frame took </span><span class="si">{}</span><span class="s1"> seconds&#39;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">time</span><span class="o">.</span><span class="n">time</span><span class="p">()</span><span class="o">-</span><span class="n">last_time</span><span class="p">))</span>
        <span class="k">break</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="n">input_word</span> <span class="o">=</span> <span class="n">input_word</span><span class="o">.</span><span class="n">rstrip</span><span class="p">()</span>
        <span class="n">words_set</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="n">input_word</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>asd asd as
asdf sdaf
sdfsdfsd

asd asd as, asdf sdaf and sdfsdfsd
Frame took 0.0 seconds
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="6.-Exercise114:-Random-Lottery-Numbers">6. Exercise114: Random Lottery Numbers<a class="anchor-link" href="#6.-Exercise114:-Random-Lottery-Numbers">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[156]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="kn">import</span> <span class="nn">time</span>
<span class="n">last_time</span> <span class="o">=</span> <span class="n">time</span><span class="o">.</span><span class="n">time</span><span class="p">()</span>

<span class="kn">import</span> <span class="nn">random</span> <span class="k">as</span> <span class="nn">rd</span>
<span class="n">numbers</span> <span class="o">=</span> <span class="p">[]</span>
<span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">6</span><span class="p">):</span>
    <span class="k">while</span> <span class="kc">True</span><span class="p">:</span>
        <span class="n">gen</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="n">rd</span><span class="o">.</span><span class="n">random</span><span class="p">()</span><span class="o">*</span><span class="mi">50</span><span class="p">)</span>
        <span class="k">if</span> <span class="n">gen</span> <span class="ow">not</span> <span class="ow">in</span> <span class="n">numbers</span> <span class="p">:</span>
            <span class="n">numbers</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="n">gen</span><span class="p">)</span>
            <span class="k">break</span>

<span class="nb">print</span><span class="p">(</span><span class="nb">sorted</span><span class="p">(</span><span class="n">numbers</span><span class="p">))</span>

<span class="nb">print</span><span class="p">(</span><span class="s1">&#39;Frame took </span><span class="si">{}</span><span class="s1"> seconds&#39;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">time</span><span class="o">.</span><span class="n">time</span><span class="p">()</span><span class="o">-</span><span class="n">last_time</span><span class="p">))</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>[3, 18, 24, 28, 33, 48]
Frame took 0.0009975433349609375 seconds
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="Exercise134:UniqueCharacters">Exercise134:UniqueCharacters<a class="anchor-link" href="#Exercise134:UniqueCharacters">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[54]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="n">temp_set</span> <span class="o">=</span> <span class="nb">set</span><span class="p">()</span>
<span class="n">temp_list</span> <span class="o">=</span> <span class="nb">list</span><span class="p">()</span>
<span class="n">input_str</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>
<span class="n">temp_list</span><span class="o">.</span><span class="n">extend</span><span class="p">(</span><span class="n">input_str</span><span class="p">)</span>
<span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="n">temp_list</span><span class="p">:</span>
    <span class="n">temp_set</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="n">i</span><span class="p">)</span>
<span class="nb">print</span><span class="p">(</span><span class="nb">str</span><span class="p">(</span><span class="nb">len</span><span class="p">(</span><span class="n">temp_set</span><span class="p">))</span> <span class="o">+</span><span class="s1">&#39; unique charaters&#39;</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>gkfgna jngjrnfsvnkmb
12 unique charaters
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="Exercise135:-Anagrams">Exercise135: Anagrams<a class="anchor-link" href="#Exercise135:-Anagrams">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[5]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="k">def</span> <span class="nf">anagram</span><span class="p">(</span><span class="n">s1</span><span class="p">,</span><span class="n">s2</span><span class="p">):</span>
    <span class="n">alist</span> <span class="o">=</span> <span class="nb">list</span><span class="p">(</span><span class="n">s2</span><span class="p">)</span>

    <span class="n">pos1</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="n">stillOK</span> <span class="o">=</span> <span class="kc">True</span>

    <span class="k">while</span> <span class="n">pos1</span> <span class="o">&lt;</span> <span class="nb">len</span><span class="p">(</span><span class="n">s1</span><span class="p">)</span> <span class="ow">and</span> <span class="n">stillOK</span><span class="p">:</span>
        <span class="n">pos2</span> <span class="o">=</span> <span class="mi">0</span>
        <span class="n">found</span> <span class="o">=</span> <span class="kc">False</span>
        <span class="k">while</span> <span class="n">pos2</span> <span class="o">&lt;</span> <span class="nb">len</span><span class="p">(</span><span class="n">alist</span><span class="p">)</span> <span class="ow">and</span> <span class="ow">not</span> <span class="n">found</span><span class="p">:</span>
            <span class="k">if</span> <span class="n">s1</span><span class="p">[</span><span class="n">pos1</span><span class="p">]</span> <span class="o">==</span> <span class="n">alist</span><span class="p">[</span><span class="n">pos2</span><span class="p">]:</span>
                <span class="n">found</span> <span class="o">=</span> <span class="kc">True</span>
            <span class="k">else</span><span class="p">:</span>
                <span class="n">pos2</span> <span class="o">=</span> <span class="n">pos2</span> <span class="o">+</span> <span class="mi">1</span>

        <span class="k">if</span> <span class="n">found</span><span class="p">:</span>
            <span class="n">alist</span><span class="p">[</span><span class="n">pos2</span><span class="p">]</span> <span class="o">=</span> <span class="kc">None</span>
        <span class="k">else</span><span class="p">:</span>
            <span class="n">stillOK</span> <span class="o">=</span> <span class="kc">False</span>

        <span class="n">pos1</span> <span class="o">=</span> <span class="n">pos1</span> <span class="o">+</span> <span class="mi">1</span>

    <span class="k">return</span> <span class="n">stillOK</span>

<span class="n">input_str1</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>
<span class="n">input_str2</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>



<span class="k">if</span> <span class="nb">len</span><span class="p">(</span><span class="n">input_str1</span><span class="p">)</span> <span class="o">!=</span> <span class="nb">len</span><span class="p">(</span><span class="n">input_str2</span><span class="p">):</span>
    <span class="nb">print</span><span class="p">(</span><span class="s2">&quot;it is not Anagrams&quot;</span><span class="p">)</span>
<span class="k">else</span><span class="p">:</span>
    <span class="k">if</span> <span class="n">anagram</span><span class="p">(</span><span class="n">input_str1</span><span class="p">,</span><span class="n">input_str2</span><span class="p">):</span>
        <span class="nb">print</span><span class="p">(</span><span class="s2">&quot;it is Anagrams&quot;</span><span class="p">)</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="nb">print</span><span class="p">(</span><span class="s2">&quot;it is not Anagrams&quot;</span><span class="p">)</span>



</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>ababa
baba
it is not Anagrams
</pre>
</div>
</div>

</div>
</div>

</div>
</div>
</div>

{% endblock %}
{% block bodyscript %}
  <script>

require(
    {
      // it makes sense to wait a little bit when you are loading
      // reveal from a cdn in a slow connection environment
      waitSeconds: 15
    },
    [
      "reveal.js/lib/js/head.min.js",
      "reveal.js/js/reveal.js"
    ],

    function(head, Reveal){

        // Full list of configuration options available here: https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            controls: true,
            progress: true,
            history: true,

            transition: "slide",

            // Optional libraries used to extend on reveal.js
            dependencies: [
                { src: "reveal.js/lib/js/classList.js",
                  condition: function() { return !document.body.classList; } },
                { src: "reveal.js/plugin/notes/notes.js",
                  async: true,
                  condition: function() { return !!document.body.classList; } }
            ]
        });

        var update = function(event){
          if(MathJax.Hub.getAllJax(Reveal.getCurrentSlide())){
            MathJax.Hub.Rerender(Reveal.getCurrentSlide());
          }
        };

        Reveal.addEventListener('slidechanged', update);

        function setScrollingSlide() {
            var scroll = false
            if (scroll === true) {
              var h = $('.reveal').height() * 0.95;
              $('section.present').find('section')
                .filter(function() {
                  return $(this).height() > h;
                })
                .css('height', 'calc(95vh)')
                .css('overflow-y', 'scroll')
                .css('margin-top', '20px');
            }
        }

        // check and set the scrolling slide every time the slide change
        Reveal.addEventListener('slidechanged', setScrollingSlide);

    }

);
</script>
{% endblock %}
